/* ////////////////////////папапапап */
/* Auth */
.background_auth {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, white, black, red, black, white);
}

.field_back {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  background-color: black;
  border: 2px solid red;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.title {
  margin-bottom: 5px;
  color: red;
  font-weight: bold;
  font-size: 20px;
}
.input {
  margin: 0px 0px 12px 0px;
}

.button {
  height: 30px;
  width: 120px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid red;
  transition: 0.25s;
  cursor: pointer;
  color: red;
  font-weight: bold;
}
.button:hover {
  border: 2px solid black;
}

/* //////////////////////// */
/* Projects */
.background_projects {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #202329;
}

.projects_field {
  display: flex;
  flex-direction: row;
}

.add_project {
  background-color: white;
  width: 100px;
  transition: 0.25s;
}

.titlecage {
  color: white;
  font-family: "Impact";
  font-size: 32px;
  text-shadow: rgba(0, 0, 255, 0.9) 0px 0px 9px;
  margin-bottom: 12px;
}

.cages_back {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.cages {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.cage_back {
  padding: 0px 3px;
  background-color: #202329;
  border-radius: 3px;
  transition: 0.25s ease;
}
.cage {
  font-size: 20px;
  text-align: start;
  height: 40px;
  width: 200px;
  padding-left: 8px;
  cursor: pointer;
  transition: 0.25s;
  color: white;
  background-color: #303339;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cage_back:hover {
  background-color: red;
}
.cage_back:hover .cage {
  border-radius: 0px;
}

.cage_name {
  width: calc(100% - 40px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 2px;
}
.cage_blocks_count {
  color: white;
  background-color: white;
  height: 34px;
  width: 34px;
  border-radius: 5px;
  background: #303339;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5) inset;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease;
  white-space: nowrap;
  overflow: hidden;
}

.add_button {
  background-color: #101319;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  padding: 0px 0px 0px 0.1px;
  font-weight: 900;
  cursor: pointer;
  color: red;
  border: 2px solid #101319;
  transition: 0.25s;
  margin-top: 20px;
}
.add_button:hover {
  border: 2px solid lightgreen;
  color: lime;
}
